*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
}

.logo img{
    width: 145%;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.pin ol {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: mediumpurple;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px 0px 10px 0px;
    margin-bottom: 80px;
}

.Shoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: darkgray;
}


